@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-700 font-sans;
  font-family: 'Nunito', sans-serif;
}

.react-calendar__tile--now {
  background: none !important;
  color: inherit !important;
  font-weight: bold;
}